<a href="https://colab.research.google.com/github/jessie-michael/hello-world/blob/main/Quiz_1_DSCI_1412.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
names = ["Malak", "Omar", "Jana", "Aly", "Rawan", "Yousef", "Abdelrahman", "Sara", "Nour", "Kenzie", "Charbel", "Malak", "Shaymaa", "Lojane", "Khaled", "Amr", "Lina", "Kenzy", "Youssef", "Nadine", "Lorina", "Nour", "Farah", "Adham", "Nour", "Farah", "Abdulrahman", "Aly", "Jessie", "Zeina"]
names

['Malak',
 'Omar',
 'Jana',
 'Aly',
 'Rawan',
 'Yousef',
 'Abdelrahman',
 'Sara',
 'Nour',
 'Kenzie',
 'Charbel',
 'Malak',
 'Shaymaa',
 'Lojane',
 'Khaled',
 'Amr',
 'Lina',
 'Kenzy',
 'Youssef',
 'Nadine',
 'Lorina',
 'Nour',
 'Farah',
 'Adham',
 'Nour',
 'Farah',
 'Abdulrahman',
 'Aly',
 'Jessie',
 'Zeina']

In [3]:
names_unique=[]
names_unique.append
for nam in names:
    if nam not in names_unique:
        names_unique.append(nam)
print(names_unique)

['Malak', 'Omar', 'Jana', 'Aly', 'Rawan', 'Yousef', 'Abdelrahman', 'Sara', 'Nour', 'Kenzie', 'Charbel', 'Shaymaa', 'Lojane', 'Khaled', 'Amr', 'Lina', 'Kenzy', 'Youssef', 'Nadine', 'Lorina', 'Farah', 'Adham', 'Abdulrahman', 'Jessie', 'Zeina']

In [4]:
freq2 = {}

for nam in names_unique:
    freq2[nam] = names.count(nam) 
    print(freq2)

print ()
print (freq2)

{'Malak': 2}
{'Malak': 2, 'Omar': 1}
{'Malak': 2, 'Omar': 1, 'Jana': 1}
{'Malak': 2, 'Omar': 1, 'Jana': 1, 'Aly': 2}
{'Malak': 2, 'Omar': 1, 'Jana': 1, 'Aly': 2, 'Rawan': 1}
{'Malak': 2, 'Omar': 1, 'Jana': 1, 'Aly': 2, 'Rawan': 1, 'Yousef': 1}
{'Malak': 2, 'Omar': 1, 'Jana': 1, 'Aly': 2, 'Rawan': 1, 'Yousef': 1, 'Abdelrahman': 1}
{'Malak': 2, 'Omar': 1, 'Jana': 1, 'Aly': 2, 'Rawan': 1, 'Yousef': 1, 'Abdelrahman': 1, 'Sara': 1}
{'Malak': 2, 'Omar': 1, 'Jana': 1, 'Aly': 2, 'Rawan': 1, 'Yousef': 1, 'Abdelrahman': 1, 'Sara': 1, 'Nour': 3}
{'Malak': 2, 'Omar': 1, 'Jana': 1, 'Aly': 2, 'Rawan': 1, 'Yousef': 1, 'Abdelrahman': 1, 'Sara': 1, 'Nour': 3, 'Kenzie': 1}
{'Malak': 2, 'Omar': 1, 'Jana': 1, 'Aly': 2, 'Rawan': 1, 'Yousef': 1, 'Abdelrahman': 1, 'Sara': 1, 'Nour': 3, 'Kenzie': 1, 'Charbel': 1}
{'Malak': 2, 'Omar': 1, 'Jana': 1, 'Aly': 2, 'Rawan': 1, 'Yousef': 1, 'Abdelrahman': 1, 'Sara': 1, 'Nour': 3, 'Kenzie': 1, 'Charbel': 1, 'Shaymaa': 1}
{'Malak': 2, 'Omar': 1, 'Jana': 1, 'Aly': 2, 'Rawan': 1, 'Yousef': 1, 'Abdelrahman': 1, 'Sara': 1, 'Nour': 3, 'Kenzie': 1, 'Charbel': 1, 'Shaymaa': 1, 'Lojane': 1}
{'Malak': 2, 'Omar': 1, 'Jana': 1, 'Aly': 2, 'Rawan': 1, 'Yousef': 1, 'Abdelrahman': 1, 'Sara': 1, 'Nour': 3, 'Kenzie': 1, 'Charbel': 1, 'Shaymaa': 1, 'Lojane': 1, 'Khaled': 1}
{'Malak': 2, 'Omar': 1, 'Jana': 1, 'Aly': 2, 'Rawan': 1, 'Yousef': 1, 'Abdelrahman': 1, 'Sara': 1, 'Nour': 3, 'Kenzie': 1, 'Charbel': 1, 'Shaymaa': 1, 'Lojane': 1, 'Khaled': 1, 'Amr': 1}
{'Malak': 2, 'Omar': 1, 'Jana': 1, 'Aly': 2, 'Rawan': 1, 'Yousef': 1, 'Abdelrahman': 1, 'Sara': 1, 'Nour': 3, 'Kenzie': 1, 'Charbel': 1, 'Shaymaa': 1, 'Lojane': 1, 'Khaled': 1, 'Amr': 1, 'Lina': 1}
{'Malak': 2, 'Omar': 1, 'Jana': 1, 'Aly': 2, 'Rawan': 1, 'Yousef': 1, 'Abdelrahman': 1, 'Sara': 1, 'Nour': 3, 'Kenzie': 1, 'Charbel': 1, 'Shaymaa': 1, 'Lojane': 1, 'Khaled': 1, 'Amr': 1, 'Lina': 1, 'Kenzy': 1}
{'Malak': 2, 'Omar': 1, 'Jana': 1, 'Aly': 2, 'Rawan': 1, 'Yousef': 1, 'Abdelrahman': 1, 'Sara': 1, 'Nour': 3, 'Kenzie': 1, 'Charbel': 1, 'Shaymaa': 1, 'Lojane': 1, 'Khaled': 1, 'Amr': 1, 'Lina': 1, 'Kenzy': 1, 'Youssef': 1}
{'Malak': 2, 'Omar': 1, 'Jana': 1, 'Aly': 2, 'Rawan': 1, 'Yousef': 1, 'Abdelrahman': 1, 'Sara': 1, 'Nour': 3, 'Kenzie': 1, 'Charbel': 1, 'Shaymaa': 1, 'Lojane': 1, 'Khaled': 1, 'Amr': 1, 'Lina': 1, 'Kenzy': 1, 'Youssef': 1, 'Nadine': 1}
{'Malak': 2, 'Omar': 1, 'Jana': 1, 'Aly': 2, 'Rawan': 1, 'Yousef': 1, 'Abdelrahman': 1, 'Sara': 1, 'Nour': 3, 'Kenzie': 1, 'Charbel': 1, 'Shaymaa': 1, 'Lojane': 1, 'Khaled': 1, 'Amr': 1, 'Lina': 1, 'Kenzy': 1, 'Youssef': 1, 'Nadine': 1, 'Lorina': 1}
{'Malak': 2, 'Omar': 1, 'Jana': 1, 'Aly': 2, 'Rawan': 1, 'Yousef': 1, 'Abdelrahman': 1, 'Sara': 1, 'Nour': 3, 'Kenzie': 1, 'Charbel': 1, 'Shaymaa': 1, 'Lojane': 1, 'Khaled': 1, 'Amr': 1, 'Lina': 1, 'Kenzy': 1, 'Youssef': 1, 'Nadine': 1, 'Lorina': 1, 'Farah': 2}
{'Malak': 2, 'Omar': 1, 'Jana': 1, 'Aly': 2, 'Rawan': 1, 'Yousef': 1, 'Abdelrahman': 1, 'Sara': 1, 'Nour': 3, 'Kenzie': 1, 'Charbel': 1, 'Shaymaa': 1, 'Lojane': 1, 'Khaled': 1, 'Amr': 1, 'Lina': 1, 'Kenzy': 1, 'Youssef': 1, 'Nadine': 1, 'Lorina': 1, 'Farah': 2, 'Adham': 1}
{'Malak': 2, 'Omar': 1, 'Jana': 1, 'Aly': 2, 'Rawan': 1, 'Yousef': 1, 'Abdelrahman': 1, 'Sara': 1, 'Nour': 3, 'Kenzie': 1, 'Charbel': 1, 'Shaymaa': 1, 'Lojane': 1, 'Khaled': 1, 'Amr': 1, 'Lina': 1, 'Kenzy': 1, 'Youssef': 1, 'Nadine': 1, 'Lorina': 1, 'Farah': 2, 'Adham': 1, 'Abdulrahman': 1}
{'Malak': 2, 'Omar': 1, 'Jana': 1, 'Aly': 2, 'Rawan': 1, 'Yousef': 1, 'Abdelrahman': 1, 'Sara': 1, 'Nour': 3, 'Kenzie': 1, 'Charbel': 1, 'Shaymaa': 1, 'Lojane': 1, 'Khaled': 1, 'Amr': 1, 'Lina': 1, 'Kenzy': 1, 'Youssef': 1, 'Nadine': 1, 'Lorina': 1, 'Farah': 2, 'Adham': 1, 'Abdulrahman': 1, 'Jessie': 1}
{'Malak': 2, 'Omar': 1, 'Jana': 1, 'Aly': 2, 'Rawan': 1, 'Yousef': 1, 'Abdelrahman': 1, 'Sara': 1, 'Nour': 3, 'Kenzie': 1, 'Charbel': 1, 'Shaymaa': 1, 'Lojane': 1, 'Khaled': 1, 'Amr': 1, 'Lina': 1, 'Kenzy': 1, 'Youssef': 1, 'Nadine': 1, 'Lorina': 1, 'Farah': 2, 'Adham': 1, 'Abdulrahman': 1, 'Jessie': 1, 'Zeina': 1}

{'Malak': 2, 'Omar': 1, 'Jana': 1, 'Aly': 2, 'Rawan': 1, 'Yousef': 1, 'Abdelrahman': 1, 'Sara': 1, 'Nour': 3, 'Kenzie': 1, 'Charbel': 1, 'Shaymaa': 1, 'Lojane': 1, 'Khaled': 1, 'Amr': 1, 'Lina': 1, 'Kenzy': 1, 'Youssef': 1, 'Nadine': 1, 'Lorina': 1, 'Farah': 2, 'Adham': 1, 'Abdulrahman': 1, 'Jessie': 1, 'Zeina': 1}

In [6]:

freq2

{'Malak': 2,
 'Omar': 1,
 'Jana': 1,
 'Aly': 2,
 'Rawan': 1,
 'Yousef': 1,
 'Abdelrahman': 1,
 'Sara': 1,
 'Nour': 3,
 'Kenzie': 1,
 'Charbel': 1,
 'Shaymaa': 1,
 'Lojane': 1,
 'Khaled': 1,
 'Amr': 1,
 'Lina': 1,
 'Kenzy': 1,
 'Youssef': 1,
 'Nadine': 1,
 'Lorina': 1,
 'Farah': 2,
 'Adham': 1,
 'Abdulrahman': 1,
 'Jessie': 1,
 'Zeina': 1}

In [12]:
m=1 #The idea starts with the max=1; it keeps checking on the rest of the frequencies until no more and gives the max
for m in freq2:
  if freq2>1
    m.replace()

SyntaxError: ignored